* {margin: 0; padding: 0; box-sizing: border-box; user-select: none; font-family: Font1;}

@font-face {
    font-family: Font1;
    src: url(/fonts/GantariRegular.ttf)}

#id33 {
    font-weight: bold;
    margin: 15px;
    font-size: 16px;
    text-decoration: none;
    color: #3cb7a8;
}

.main-screen .align{
    position: absolute;
    top: 12%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

.anexo {margin-left: -200px;}

.anexo h2 {color: #f9b24c}

.anexo input {color: #7373b4}

.anexo button {
    background-color: #3cb7a8;
    width: 150px;
    padding: 8px;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    transition: 400ms;
    cursor: pointer;
} .anexo button:hover{transform: scale(1.05);}

.anexo h2,.anexo input,.anexo button {font-size: 18px;margin: 20px;}

#id67 {
    text-decoration: none;
    font-size: 22px;
    color: #7373b4;
}

@media screen and (max-width: 600px) {
    .anexo h2,.anexo input,.anexo button {
        font-size: 12px;
        margin: 20px;
    }

    .anexo h2 {font-size: 14px;}

    .anexo {margin-left: -120px}

    .main-screen .align{top: 12%}

    #id67 {font-size: 16px}
}